@charset "ISO-8859-1";

* {
	justify-content: center;
}

#busqueda {
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center
}

.button {
	margin-top: 20px;
}

#fotoPrincipal {
	width: 15%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

#divFotoPrincipal {
	margin-bottom: 15px;
}

.nav-item {
	text-align: right;
	padding-top: 30px;
}

#divProductos {
	padding-top: 30px;
	justify-content: center;
	margin: auto;
	width: 25%;
}
<<<<<<< Updated upstream

main {
	min-height: 700px;
=======
.encabezado{
	color: white;
}
.formulario{
	display: flex;
	flex-direction: row;
	width: 50%;
	margin: 5px auto;
	padding: 10px;
	justify-content: space-evenly;
}
.divForm {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#Form{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#botonEnviar{
	width: 30%;
	margin: auto;
	border: none;
	border-radius: 10px 10px;
	background-color: Darkslateblue;
	color: white;
>>>>>>> Stashed changes
}