@charset "ISO-8859-1";
*{
    justify-content: center;    
}

#fotoCapa{
    width: 25%;
    height: auto;
    display: block; /* torna a imagem um bloco para aplicar as margens */
  margin: 0 auto;
}
h2{
    text-align: center;
}
.fieldset{
    /*margin-left: 350px;
    margin-right: 350px;*/
    display: flex;
    justify-content: center
}
#inicioSeccion{
    margin-top: 16px;
}
#form{
    margin-bottom: 40px;
}
#TabelaCita{
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;
}
#marcaCitaNueva{
    margin-top: 20px;
    /*margin-left: 120px;
    margin-right: 120px;*/
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}
#entrarPrincipal{
    text-align: center;
    margin-top: 4px;
    
}
#fotoCapa2{
    width: 20%;
    height: auto;
    display: block; /* torna a imagem um bloco para aplicar as margens */
  margin: 0 auto;
    
}
.button{
    margin-top: 20px;

}
#fotoPrincipal{
    width: 100%;
    height: auto;
    display: block; /* torna a imagem um bloco para aplicar as margens */
  margin: 0 auto;
}


#divFotoPrincipal {
	margin-bottom: 15px;
}

.fieldset2{
    margin-left: 350px;
    margin-right: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 45px;
}
