@charset "ISO-8859-1";
*{
    justify-content: center;    
}

#busqueda{
    margin-top: 20px;
    /*margin-left: 120px;
    margin-right: 120px;*/
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

#fotoCapa2{
    width: 20%;
    height: auto;
    display: block; /* torna a imagem um bloco para aplicar as margens */
  margin: 0 auto;
    
}
.button{
    margin-top: 20px;

}
#fotoPrincipalBusqueda{
    width: 15%;
    height: auto;
    display: block; /* torna a imagem um bloco para aplicar as margens */
  margin: 0 auto;
}


#divFotoPrincipal {
	margin-bottom: 15px;
}

#final{
	margin-top: 200px;
}
