@charset "ISO-8859-1";
*{
    justify-content: center;    
}

#busqueda{
    margin-top: 20px;
    /*margin-left: 120px;
    margin-right: 120px;*/
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

#fotoCapa2{
    width: 20%;
    height: auto;
    display: block; /* torna a imagem um bloco para aplicar as margens */
  margin: 0 auto;
    
}
#buscarButton{
    
    margin-left: 20px;

}
#fotoPrincipalBusqueda{
    width: 15%;
    height: auto;
    display: block; /* torna a imagem um bloco para aplicar as margens */
  margin: 0 auto;
}


#divFotoPrincipal {
	margin-bottom: 15px;
}

#final{
	margin-top: 150px;
}

.listaCategoryDiv {
	padding-top: 30px;
	padding-bottom: 20px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 3px;
	width: 25%;
	border-width: 1px;
	border-style: solid;
	border-color: pink;
	border-radius: 30px;
	
}

.listaCategoryDiv li{
	list-style-type: none;
}

