@charset "ISO-8859-1";

body {
	text-align: center;
}

#foto {
	width: 15%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

#divFoto {
	margin-bottom: 15px;
}

.nav-item {
	text-align: right;
	padding-top: 30px;
}

main {
	min-height: 700px;
	text-align: center;
}
fieldset {
		color: #F279B2;
		border: 3px #F279B2 solid;
	}
li {
	list-style: none;
}

legend {
	color: black;
	padding: 20px;
}