@charset "ISO-8859-1";

body {
	text-align: center;
}

#foto {
	width: 15%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 40px;
}

#divFoto {
	margin-bottom: 15px;
}

.nav-item {
	text-align: right;
	padding-top: 30px;
}

main {
	min-height: 700px;
	text-align: center;
}

li {
	list-style: none;
}

footer {
	padding: 10%;
}