<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>GestionPedidos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/GestionPedidosDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>IniciarSesion</display-name>
    <servlet-name>IniciarSesion</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.IniciarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesion</servlet-name>
    <url-pattern>/IniciarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByCategory</display-name>
    <servlet-name>FindProductByCategory</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.FindProductByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByCategory</servlet-name>
    <url-pattern>/FindProductByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCarritoServlet</display-name>
    <servlet-name>AddToCarritoServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.AddToCarritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCarritoServlet</servlet-name>
    <url-pattern>/AddToCarrito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomerServlet</display-name>
    <servlet-name>NewCustomerServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.NewCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerServlet</servlet-name>
    <url-pattern>/NewCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusquedaCategoryServlet</display-name>
    <servlet-name>BusquedaCategoryServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.BusquedaCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusquedaCategoryServlet</servlet-name>
    <url-pattern>/BusquedaCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmployeeServlet</display-name>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.NewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <url-pattern>/NewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByIdServlet</display-name>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.FindProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <url-pattern>/FindProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesionServlet</display-name>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.CerrarSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <url-pattern>/CerrarSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchClientsServlet</display-name>
    <servlet-name>SearchClientsServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.SearchClientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClientsServlet</servlet-name>
    <url-pattern>/SearchClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadProductServlet</display-name>
    <servlet-name>LoadProductServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.LoadProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadProductServlet</servlet-name>
    <url-pattern>/LoadProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarritoCompraServlet</display-name>
    <servlet-name>CarritoCompraServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.CarritoCompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarritoCompraServlet</servlet-name>
    <url-pattern>/CarritoCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductFromCarritoServlet</display-name>
    <servlet-name>DeleteProductFromCarritoServlet</servlet-name>
    <servlet-class>com.afdm.gestionpedidos.controller.DeleteProductFromCarritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductFromCarritoServlet</servlet-name>
    <url-pattern>/DeleteProductFromCarrito</url-pattern>
  </servlet-mapping>
</web-app>